.home-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../assets/shopping.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .value-buttons {
        margin-left: 350px;
    }
  .button {
    border: 2px groove white;
    padding: 16px 40px;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .button:hover {
    border-style: dashed;
    text-decoration: none;
    color: white;
    animation: 0.2s ease-in-out;
  }
  